;; Schemas. Will be reasserted if anything changes.
[
;;; General helper functions
 [{:db/ident :user/attr
   :db/doc "Helper fn for creating attributes. type is a bare keyword like :ref,
            :instant, or :string. options is a map of standard Datomic schema
            attributes to be merged in with defaults (cardinality one, indexed
            false)."
   :db/id #db/id[:db.part/db]
   :db/fn #db/fn{:lang :clojure
                 :params [db ident type options docstring]
                 :code
                 [(merge
                   {:db/id (datomic.api/tempid :db.part/db)
                    :db/doc docstring
                    :db/ident ident
                    :db/valueType (keyword "db.type" (name type))
                    :db/cardinality :db.cardinality/one
                    :db.install/_attribute :db.part/db}
                   options)]}}

  {:db/ident :user/part
   :db/doc "Helper fn for creating partitions."
   :db/id #db/id[:db.part/db]
   :db/fn #db/fn{:lang :clojure
                 :params [db ident docstring]
                 :code
                 [{:db/ident ident
                   :db/doc docstring
                   :db/id (datomic.api/tempid :db.part/db)
                   :db.install/_partition :db.part/db}]}}

  {:db/ident :user/ident
   :db/doc "Helper fn for creating generic entities with keyword identities."
   :db/id #db/id[:db.part/db]
   :db/fn #db/fn{:lang :clojure
                 :params [db ident docstring]
                 :code
                 [{:db/ident ident
                   :db/doc docstring
                   :db/id (datomic.api/tempid :db.part/db)}]}}]

 ;; Transacted schema tracking
 [[:user/part :part/schemas
   "Partition for assertions about which schemas are present."]

  [:user/attr :schema/transacted-schema-id :string
   {:db/unique :db.unique/identity}
   "A unique identifier for a particular version of a particular
  schema. Presence of this datom indicates that the corresponding
  schema is present in the database and need not be reasserted."]]

 ;; See also codeq:
 ;; https://github.com/Datomic/codeq/blob/master/src/datomic/codeq/core.clj

 [
  ;; Object partitions
  [:user/part :part/commits
   "Partition for commit entities"]

  [:user/part :part/blobs
   "Partition for blob entities"]

  [:user/part :part/tags
   "Partition for tag entites"]

  [:user/part :part/trees
   "Partition for tree entities"]

  [:user/part :part/refs
   "Partition for ref entities"]

  [:user/part :part/repos
   "Partition for repo entities"]

  ;; Repository entities

  [:user/attr :repo/name :string
   {:db/unique :db.unique/identity}
   "A git repo uri/name. Something like 'candera/gitomic'."]

  [:user/attr :repo/description :string
   {}
   "A human-readable description of the repository"]

  ;; Ref entities
  [:user/attr :ref/name :string
   {}
   "The name of this reference. E.g. 'refs/heads/master'."]

  [:user/attr :ref/repo :ref
   {}
   "The repository entity to which this ref is scoped."]

  [:user/attr :ref/target :ref
   {}
   "The git object to which this ref refers."]

  ;; Object entities

  [:user/attr :object/type :keyword
   {}
   "Type enum for git objects - one of :commit, :tree, :blob, :tag"]

  [:user/attr :object/sha :string
   {:db/unique :db.unique/identity}
   "String form of the git sha, in lower-case hexidecimal."]

  [:user/attr :object/len :long
   {}
   "Length of the object in bytes."]

  [:user/attr :commit/parents :ref
   {:db/cardinality :db.cardinality/many}
   "Parents of a commit"]

  [:user/attr :commit/tree :ref
   {}
   "Root node of a commit"]

  [:user/attr :commit/message :string
   {:db/fulltext true}
   "A commit message"]

  [:user/attr :commit/author :string
   {}
   "Person who authored a commit"]

  [:user/attr :commit/authoredAt :instant
   {:db/index true}
   "Timestamp of authorship of commit"]

  [:user/attr :commit/committer :string
   {:db/index true}
   "Person who committed a commit"]

  [:user/attr :commit/committedAt :instant
   {:db/index true}
   "Timestamp of commit"]

  [:user/attr :node/filename :string
   {:db/index true}
   "filename of a tree node"]

  [:user/attr :node/parent :ref
   {}
   "Parent of a tree node"]

  ;; I'm not sure we need this one.
  [:user/attr :node/object :ref
   {}
   "Git object (tree/blob) in a tree node"]]]
